---
layout: blank
---
<main>
  <article class="{% if site.style.articles == 'stripe' %}light{% else %}{{ site.style.articles }}{% endif %}">
    <header>
      <h2><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h2>
      <span>{% if page.author %}{{ page.author }} • {% endif %}{% if page.date %}<time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%b %-d, %Y" }}</time>{% endif %}{% if page.categories and page.categories != empty %} • {{ page.categories | array_to_sentence_string }}{% endif %}</span>
    </header>
    <div>
{{ content }}
    </div>
    {% if site.comments.disqus and page.comments %}
        <div id="disqus_thread"></div>
        <script>
        (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://perhac-blog.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <script id="dsq-count-scr" src="//perhac-blog.disqus.com/count.js" async></script>
    {% endif %}
  </article>
</main>
